body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  text-align: center; /* Centers the content inside the .App div */
  /* Other styles for .App */
}

.App h1 {
  font-size: 3rem; /* Adjusts the font size to be larger */
  /* You can also adjust the font-weight for bolder text */
  font-weight: bold;
  margin-top: 20px; /* Adds some space at the top if needed */
  /* Additional styling as needed */
}
/* App.css */
body {
  background-image: url('../public/images/wallpaper.jpg');
  background-repeat: repeat;
  background-size: auto; /* or cover/contain based on your preference */
}
@keyframes scroll {
  from {
    background-position: 0 0; /* Start position */
  }
  to {
    background-position: 0 100%; /* End position (fully scrolled) */
  }
}

body {
  animation: scroll 60s linear infinite; /* Adjust duration and timing function as needed */
}
/* Apply translucent effect and border around all text */
body {
  text-shadow: 
    -1px -1px 0 #ffffff,  
     1px -1px 0 #ffffff,
    -1px  1px 0 #ffffff,
     1px  1px 0 #ffffff ; /* Border effect using text-shadow */
}

/* Example styles for specific elements */
h1, h2, p {
  opacity: 0.75; /* Adjust the opacity value as needed */
}
h3{
  opacity: 0.25; /* Adjust the opacity value as needed */
}